@use "../global" as global;

.p-order {
  display: inline-block;

  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.48;
  position: relative;

  span {
    font-size: 32px;
    line-height: 1.36;
  }

  &::before {
    content: "";
    position: absolute;
    border-left: 3px solid #fff;
    height: 27px;
    left: -15px;
    top: 25%;
    transform: rotate(-25deg);
  }

  &::after {
    content: "";
    position: absolute;
    border-right: 3px solid #fff;
    height: 27px;
    right: -15px;
    top: 25%;
    transform: rotate(25deg);
  }

}

.p-order__btn {
  margin-top: 20px;

}
