@use "../global" as global;

.p-plating {
  margin: 0 auto;
  padding: 50px 0 70px;
  text-align: center;
}

.p-plating__title {
  font-size: 19px;
  line-height: 2.2;

  p {
    display: inline-block;
    position: relative;
    padding-left: 22px;

    &::before {
      content: "";
      position: absolute;
      background: global.$main-color;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }

  @include global.mq(sp) {
    font-size: 18px;
    text-align-last: left;

    p {
      padding-left: 20px;

      &::before {
        width: 16px;
        height: 16px;
        top: 18%;
      }
    }
  }
}

.p-plating__sub {
  margin: 32px auto 0;
  background: rgba(53,114,153,1);
  width: 939px;
  max-width: 100%;
  height: auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: rgba(53,114,153,1);
    width: 20px;
    height: 20px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  p {
    padding: 40px;
    font-size: 21px;
    line-height: 2.2;
    color: #fff;
    display: inline-block;
    text-align: left;
  }

  @include global.mq(sp) {

    p {
      padding: 30px;
      font-size: 18px;
    }

  }
}

.p-plating__img {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;

  img {
    width: 464px;
    max-width: 100%;
    height: 368px;
    height: auto;
  }

  @include global.mq(sp) {
    flex-direction: column;
  }
}

.p-plating__comment {
  margin-top: 18px;
  font-size: 20px;

  @include global.mq(sp) {
    font-size: 16px;
  }
}

.p-plating__request {
  margin: 105px auto 0;
  width: 939px;
  max-width: 100%;
  height: 230px;
  height: auto;
  border: 10px solid #e53292;
  background: transparent;
  display: flex;
  justify-content: center;

  @include global.mq(sp) {
    margin-top: 60px;
    flex-direction: column;
  }
}

.p-plating__content {
  display: inline-block;
  text-align: left;
  margin: 40px auto 28px;
  margin-left: 78px;

  @include global.mq(sp) {
    margin-left: 20px;
  }
}

.p-plating__title2 {
  font-size: 22px;
}

.p-plating__text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 2.2;

  @include global.mq(sp) {
    margin-bottom: 20px;
  }
}

.p-plating__pic {
  margin-left: auto;
  margin-top: -40px;
  padding-right: 70px;
}

.p-plating__gallery {
  margin: 48px auto 0;
  width: 939px;
  height: 464px;
  height: auto;

}
