@use "../global" as global;

.l-order {
  margin: 0 auto;
  width: 100%;
  height: auto;
  // background: linear-gradient(270deg, rgba(193,39,45,1) 0%, rgba(237,28,36,.5), rgba(193,39,45,.5) 100%),url(/assets/img/Group.png) no-repeat right 200%/ 70%;
  background: linear-gradient(270deg, #C1272D 0%, #ED1C24 47.92%, #C1272D 100%);
  padding: 75px 0 114px;
  text-align: center;

  @include global.mq(sp) {
    padding: 15px 0 38px;

  }
}
